html,body {
	/*background: #dd4;*/
}


#header .inner {
    background-color: #00346b;
    background-color: #192c3a;
}

#tl_navigation .tl_level_2 li.active {
    border-left-color: #efefef;
    background-color: #2c4d65;
}

#tmenu a:hover, #tmenu li:hover h2, #tmenu .burger button:hover {
    background-color: #2c4d65;
}